<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <div class="navbar-brand">
          <span class="logo">🎬</span>
          <span class="brand-name">TMDB Explorer</span>
        </div>
        <div class="navbar-menu">
          <a routerLink="/discover" class="nav-link">Descubrir</a>
        </div>
      </div>
    </nav>
  </body>
</html>
