<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container mt-4">
      <h2>Ejemplo de Barras de Progreso</h2>

      <p>Descarga de archivos:</p>
      <app-custom-progress-bar [value]="progresoDescarga" [color]="'primary'">
      </app-custom-progress-bar>

      <p class="mt-3">Carga de datos:</p>
      <app-custom-progress-bar [value]="progresoCarga" [color]="'success'">
      </app-custom-progress-bar>

      <p class="mt-3">Uso de memoria:</p>
      <app-custom-progress-bar [value]="progresoMemoria" [color]="'warning'">
      </app-custom-progress-bar>
    </div>
  </body>
</html>
